@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*Grid Area*/

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .33fr 1fr .25fr 1fr 1fr 1fr 1fr .33fr;
    grid-template-areas:
        "header nav1"
        "intro intro"
        "nav2 nav2"
        "section1 box"
        "section2 youtube"
        "section3 instagram"
        "outro outro"
        "socials socials"
    ;

}



h1,
h2,
h3 {
    font-family: hind Vadodara, sans-serif;
    font-weight: 300, bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}


/*Logo and main nav bar*/

#logo {
    grid-area: header;
    font-size: 150%;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: rgb(196, 60, 30);
    color: white;
    padding-left: 1.3em;
}

header a {
    text-decoration: none;
    color: white;
}

#nav1 {
    grid-area: nav1;
    background-color: rgb(196, 60, 30);
    font-size: 125%;
    font-weight: 500;
    letter-spacing: 2.5px;
    padding-right: 1.5em;
    text-align: end;
}

#nav1 li {
    margin-right: 30px;
    display: inline;
    list-style-type: none;
    color: white;
}

#nav1 a {
    text-decoration: none;
    color: white;
}

#nav1 a:hover {
    text-transform: uppercase;
}


#logo,
#nav1 {
    line-height: 75px;
}

.active {
    text-decoration: underline;
    border-bottom: 3px solid black;
}

/*Sections*/

h2 {
    margin: 1em auto 1em 0;
    text-decoration: underline;
    font-size: xx-large;
}

p {
    line-height: 1.6em;
    word-spacing: 5px;
    margin-bottom: 30px;
    height: 100%;
    font-size: 150%;

}

#intro {
    grid-area: intro;
    color: rgb(196, 60, 30);
    text-align: center;
    padding: 150px;
}

#intro h2 {
    font-weight: 700;
}

#nav2 {
    grid-area: nav2;
    position: sticky;
    top: 0;
    text-align: end;
}

#nav2 li {
    margin-right: 30px;
    display: inline;
    list-style-type: none;
}

#nav2 a:hover {
    text-transform: uppercase;
}

#nav2 a {
    text-decoration: none;
    color: black;
}

#section1 {
    grid-area: section1;
    border: 3px solid black;
    padding: 0 50px 0 100px;
    background-color: black;
    color: white;
}

#section1 h2 {
    text-decoration: underline;
    font-size: xx-large;
}

#box {
    grid-area: box;
    place-items: center;
    text-align: center;
    padding-top: 130px;
    background-color: black;
}


#box a {
    text-decoration: none;
    color: white;
}

#box a:hover {
    text-decoration: underline;
}

#section2 {
    grid-area: section2;
    padding: 40px 40px 100px 100px;
    
}

#youtube {
    grid-area: youtube;
    border: 3px solid black;
    margin: 3em;
    

}

#section3 {
    grid-area: section3;
    padding: 150px 25px 150px 100px;
    background-color: black;
    color: white;


}

#instagram {
    grid-area: instagram;
    padding: 50px 10px 50px 200px;
    background-color: black;
}

#outro {
    grid-area: outro;
    color: rgb(196, 60, 30);
    text-align: center;
    padding: 150px 150px 50px 150px;
}

#outro a {
    text-decoration: underline;
    color: rgb(196, 60, 30);
}

#color-change {
    color: black;
}

/* footer and socials*/

footer {
    grid-area: socials;
    background-color: black;
}

.socials {
    text-align: center;
}

.socials>li {
    display: inline;
}

.socials i {
    font-size: 250%;
    margin: 1%;
    padding: 2%;
    padding-right: 2em;
    color: rgb(196, 60, 30);
}

/*Mobile screen responsivness*/

@media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .2 .75fr .175fr .75fr .75fr .75fr .75fr .75fr .75fr .75fr .3fr;
        grid-template-areas:
            "header"
            "nav1"
            "intro"
            "nav2"
            "section1"
            "box"
            "section2"
            "youtube"
            "section3"
            "instagram"
            "outro"
            "socials"
        ;
    }
}

/* Sign-Up Form*/


.signup-form {
    margin: 150px 10% 0 0;
    color: black;
    background-color: rgba(243, 45, 1, 0.3);
    max-width: 550px;
    position: fixed;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: black;
    margin-bottom: 5px;
    text-decoration: none;
}

hr {
    border-top: 4px solid black;
    margin-bottom: 20px;
    width: 100%;
}

.text-input {
    background: transparent;
    font-weight: bold;
    color: #050000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #020000;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgb(196, 60, 30);
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(196, 60, 30);
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: rgb(196, 60, 30);
}
