@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


h1,
h2 {
    font-family: hind Vadodara, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
}


/*Logo and main nav bar*/

header {
    background-color: rgb(196, 60, 30);
    border-bottom: 3px solid #020000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

header h1 {
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(196, 60, 30);
    color: white;
    padding-left: 50px;
    text-shadow:
        1px 1px 2px black,
        1px 1px 2px black,
        1px 1px 2px black,
        1px 1px 2px black;
}




header a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

#nav1 {
    background-color: rgb(196, 60, 30);
    font-size: 125%;
    font-weight: 500;
    letter-spacing: 2.5px;
    padding-right: 1.5em;
    text-align: end;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#nav1 li {
    margin-right: 30px;
    display: inline;
    list-style-type: none;
    color: white;
}

#nav1 a {
    text-decoration: none;
    color: white;
}

#nav1 a:hover {
    text-transform: uppercase;
}


#logo,
#nav1 {
    line-height: 75px;
}

.active {
    text-decoration: underline;
    border-bottom: 3px solid black;
}

/*Sections*/

h2 {
    margin: 1em auto 1em 0;
    text-decoration: underline;
    font-size: xx-large;
}

p {
    line-height: 1.6em;
    word-spacing: 5px;
    margin-bottom: 30px;
    height: 100%;
    font-size: 150%;

}

hr {
    border-top: 4px solid white;
    width: 100%;
}

#intro {
    color: rgb(196, 60, 30);
    text-align: center;
    padding: 150px;
}

#intro h2 {
    font-weight: 700;
}

#nav2 {
    position: sticky;
    top: 0;
    text-align: end;
    background-color: rgb(196, 60, 30);
    border: 2px solid #020000;
}

#nav2 ul {
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#nav2 li {
    display: inline;
    list-style-type: none;
    font-size: large;
    font-weight: 500;
    padding-left: 10px;
    letter-spacing: 3px;
}

#nav2 a {
    text-decoration: none;
    color: #fafafa;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#nav2 a:hover {
    text-decoration: underline;
}

#section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-color: black;
    padding: 50px 0;
}

#diaphragm {
    padding: 0 50px 0 100px;
    color: white;
    margin: auto;
}

#diaphragm p {
    height: 75%;
    width: auto;
}

#diaphragm h2 {
    text-decoration: underline;
    font-size: xx-large;
}

#box {
    place-self: center;
    text-align: center;
    padding: 1em 50px;
}


#box a {
    text-decoration: none;
    color: white;
}

#box a:hover {
    text-decoration: underline;
}

#box img {
    width: 100%;
    height: 100%;
}

#section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 50px 0;
}

#spine {
    padding: 0 50px 0 100px;
}

#youtube {
    place-self: center;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    margin: 0;
    padding-left: 30px;
}

#youtube iframe {
    width: 95%;
    height: 95%;
}


#section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-color: black;
    padding: 50px 10px;
}

#whole-body {
    padding: 0 50px 0 100px;
    color: white;
}

#whole-body a {
    text-decoration: none;
    color: #fafafa;
}

#instagram {
    place-self: center;
}

#outro {
    grid-area: outro;
    color: rgb(196, 60, 30);
    text-align: center;
    padding: 150px 150px 50px 150px;
}

#outro a {
    text-decoration: underline;
    color: rgb(196, 60, 30);
}

#color-change {
    color: black;
}

/* footer and socials*/

footer {
    background-color: black;
}

.socials {
    text-align: center;
}

.socials>li {
    display: inline;
}

.socials i {
    font-size: 250%;
    margin: 1%;
    padding: 2%;
    padding-right: 30px;
    color: rgb(196, 60, 30);
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #section1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-color: black;
        padding: 50px 0;
    }
}

/* For medium to small screens size from 900px wide and down */

@media screen and (max-width: 900px) {
    header {
        display: flex;
        flex-direction: column;
    }

    #diaphragm,
    #spine,
    #whole-body {
        padding: 0 50px 0 30px;
    }

    #section2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

}

/* For small screens size from 620px wide and down */

@media screen and (max-width: 620px) {

    header h1 {
        text-align: center;
        margin: auto;
        padding: 0;
    }

    #nav1 {
        font-size: 100%;
        font-weight: 300;
        letter-spacing: 2.5px;

    }

    #nav1 li {
        margin-right: 10px;
    }

    #intro {
        padding: 40px;
    }

    #nav2 {
        text-align: center;
    }

    #nav2 li {
        display: inline;
        list-style-type: none;
        font-size: medium;
        font-weight: 700;
        padding-left: 20px;
    }

    #section3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-color: black;
        padding: 50px 10px;
    }

    #instagram {
        display: none;
    }

    #whole-body a {
        text-decoration: underline;
        
    }

    #outro {
        padding: 40px;
    }

    /*Footer*/

    .socials i {
        font-size: 150%;
        margin: 1%;
        padding: 2%;
        padding-right: 30px;
        color: rgb(196, 60, 30);
    }

    /* Program HTML */

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: auto;
    }

    .program h1 {
        text-decoration: underline;
        text-align: center;
    }

    /*Sign-up HTML */

    .signup-form {
        height: 60vh;
        color: black;
        background-color: rgb(196, 60, 30, .6);
        max-width: 550px;
        padding: 10px 30px;
    }

    .signup-form>h2 {
        color: black;
        margin-bottom: 5px;
        text-decoration: none;
        padding: 0;
        margin: auto;
        font-size: large;
        font-weight: 700;
    }


    .text-input {
        background: white;
        font-weight: bold;
        color: #050000;
        width: 100%;
        height: 25px;
        margin: 5px 0 20px 0;
        border: 1px solid #020000;
        border-radius: 2px;
    }

}



/* Program.HTML */

.program {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.program h1 {
    text-decoration: underline;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: inherit;
}

.media {
    max-width: 300px;
    height: 200px;
    border: 2px solid rgb(255, 255, 255);
    margin: 10px 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media img {
    width: 100%;
    height: 100%;
}

.layer {
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 10px;
    height: 90%;
    background: #FFF;
    transition: all 0.4s ease;
}

.layer h3 {
    align-self: center;
    font-family: hind Vadodara, sans-serif;
    padding-top: 5px;
}

.layer p {
    padding-top: 40px;
    font-size: medium;
    align-self: center;
}

.layer a {
    text-decoration: none;
    color: black;
    align-self: center;
}

.layer a:hover {
    text-decoration: underline;
    background-color: rgb(196, 60, 30, .6);
    border-radius: 3px;
}

.media:hover .layer {
    opacity: 0.8;
    width: 90%;
    transition: all 0.5s ease;
}


/* Sign-Up Form*/

.section-display {
    display: flex;
    justify-content: flex-start;
    padding: 50px;
}

.signup-form {
    height: 60vh;
    color: black;
    background-color: rgb(196, 60, 30, .6);
    max-width: 550px;
    padding: 10px 30px;
}

.signup-form>h2 {
    color: black;
    margin-bottom: 5px;
    text-decoration: none;
}


.text-input {
    background: white;
    font-weight: bold;
    color: #050000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #020000;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgb(196, 60, 30);
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: black;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: rgb(196, 60, 30);
}

#background-image {
    background: url("../images/happy_sitting_at_a_computer.jpg") no-repeat center center;
    background-size: cover;
}

.text-label {
    font-weight: 600;
    color: #fafafa;
    text-decoration: underline;
    letter-spacing: 2.5px;
}