@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*Grid Area*/

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .33fr 1fr .25fr 1fr 1fr 1fr 1fr 0.33fr;
    grid-template-areas: 
    "header header"
    "intro intro"
    "nav2 nav2"
    "section1 box"
    "section2 youtube"
    "section3 instagram"
    "outro outro"
    "footer footer"
    ;
   
}



h1,
h2 {
    font-family: hind Vadodara, sans-serif;
    font-weight: 300, bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}


/*Logo and main nav bar*/

#logo {
    grid-area: header;
    font-size: 150%;
    text-transform: uppercase;
    background-color: rgb(196, 60, 30);
    padding-left: 1.3em;
}

header a {
    text-decoration: none;
    color: white;
}

#nav1 {
    grid-area: header;
    font-size: 135%;
    font-weight: 500;
    letter-spacing: 2.5px;
    padding-right: 1.5em;
    text-align: end;
    
}

#nav1 li {
    margin-right: 30px;
    display: inline;
    list-style-type: none;
    color: white;
}

#nav1 a {
    text-decoration: none;
    color: white;
}

#nav1 a:hover {
    text-transform: uppercase;
}


#logo,
#nav1 {
    line-height: 75px;
}

.active {
    text-decoration: underline;
    border-bottom: 3px solid black;
}

/*Sections*/

h2 {
    margin: 1em auto 1em 0;
}

p {
    line-height: 1.6em;
    word-spacing: 5px;
    margin-bottom: 30px;
}

#intro {
    grid-area: intro;
    color: rgb(196, 60, 30);
    grid-area: intro;
    height: 100%;
    text-align: center;
    padding: 150px;
    font-size: 150%;
}

#intro h2 {
    font-weight: 700;
}

#nav2 {
    grid-area: nav2;
    text-align: end;
}

#nav2 a {
    text-decoration: none;
}

#section1 {
    grid-area: section1;
    margin: 40px 40px 100px 100px;

}

#box {
    grid-area: box;
    justify-self: center;
    padding: 1em;
    text-align: center;
    text-decoration: underline;
}


#section2 {
    grid-area: section2;
    margin: 40px 40px 100px 100px;
    
}

#youtube {
    grid-area: youtube;
    
}

#section3 {
    grid-area: section3;
    margin: 40px 40px 100px 100px;
    
}

#instagram {
    grid-area: instagram;
    
}

#outro {
    grid-area: outro;
    color: rgb(196, 60, 30);
    height: 100%;
    text-align: center;
    padding: 150px;
    font-size: 150%;
    
}

/* footer and socials*/

footer {
    grid-area: footer;
    
}

/*Mobile screen responsivness*/

@media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .75fr .175fr .75fr .75fr .75fr .75fr .75fr .75fr .75fr .3fr;
    grid-template-areas: 
    "header"
    "intro"
    "nav2"
    "section1"
    "box"
    "section2"
    "youtube"
    "section3"
    "instagram"
    "outro"
    "footer"
    ;
    }
}